@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  /* Color definitions */
  --color-snow: #DEE4EC;
  --color-nightsky: #2D4157;
  --color-leaf: #30500C;
  --color-cherryblossom: #C3A6B0;

  /* Light theme */
  --background: var(--color-snow);
  --foreground: var(--color-nightsky);
  --card: var(--color-snow);
  --card-foreground: var(--color-nightsky);
  --popover: var(--color-snow);
  --popover-foreground: var(--color-nightsky);
  --primary: var(--color-leaf);
  --primary-foreground: var(--color-snow);
  --secondary: var(--color-snow);
  --secondary-foreground: var(--color-nightsky);
  --muted: var(--color-snow);
  --muted-foreground: var(--color-nightsky);
  --accent: var(--color-nightsky);
  --accent-foreground: var(--color-snow);
  --destructive: var(--color-cherryblossom);
  --destructive-foreground: var(--color-nightsky);
  --border: var(--color-nightsky);
  --input: var(--color-nightsky);
  --ring: var(--color-nightsky);
  --chart-1: var(--color-leaf);
  --chart-2: var(--color-cherryblossom);
  --chart-3: var(--color-nightsky);
  --chart-4: var(--color-snow);
  --chart-5: #EDE0BD;
  --radius: 0.625rem;
  --sidebar: var(--color-snow);
  --sidebar-foreground: var(--color-nightsky);
  --sidebar-primary: var(--color-leaf);
  --sidebar-primary-foreground: var(--color-snow);
  --sidebar-accent: var(--color-nightsky);
  --sidebar-accent-foreground: var(--color-snow);
  --sidebar-border: var(--color-nightsky);
  --sidebar-ring: var(--color-nightsky);
}

.dark {
  /* Dark theme */
  --background: var(--color-nightsky);
  --foreground: var(--color-snow);
  --card: var(--color-nightsky);
  --card-foreground: var(--color-snow);
  --popover: var(--color-nightsky);
  --popover-foreground: var(--color-snow);
  --primary: var(--color-leaf);
  --primary-foreground: var(--color-snow);
  --secondary: var(--color-nightsky);
  --secondary-foreground: var(--color-snow);
  --muted: var(--color-nightsky);
  --muted-foreground: var(--color-snow);
  --accent: var(--color-snow);
  --accent-foreground: var(--color-nightsky);
  --destructive: var(--color-cherryblossom);
  --destructive-foreground: var(--color-nightsky);
  --border: var(--color-snow);
  --input: var(--color-snow);
  --ring: var(--color-snow);
  --chart-1: var(--color-leaf);
  --chart-2: var(--color-cherryblossom);
  --chart-3: var(--color-nightsky);
  --chart-4: var(--color-snow);
  --chart-5: #EDE0BD;
  --sidebar: var(--color-nightsky);
  --sidebar-foreground: var(--color-snow);
  --sidebar-primary: var(--color-leaf);
  --sidebar-primary-foreground: var(--color-snow);
  --sidebar-accent: var(--color-snow);
  --sidebar-accent-foreground: var(--color-nightsky);
  --sidebar-border: var(--color-snow);
  --sidebar-ring: var(--color-snow);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
